doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')  
//if IE 8
  html.no-js.lt-ie9(lang='en')  
// [if gt IE 8] <!
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Cahal Kearney Demo Web App')
    title= title
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
    // Fontawesome Icon font
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    // bootstrap.min
    link(rel='stylesheet', href='/css/jquery.fancybox.css')
    // bootstrap.min
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // bootstrap.min
    link(rel='stylesheet', href='/css/owl.carousel.css')
    // bootstrap.min
    link(rel='stylesheet', href='/css/slit-slider.css')
    // bootstrap.min
    link(rel='stylesheet', href='/css/animate.css')
    // Main Stylesheet
    link(rel='stylesheet', href='/css/main.css')
    // Modernizer Script for old Browsers
    script(src='/js/modernizr-2.6.2.min.js')
  body
    include includes/header
    block content
    include includes/footer

    script(src='/js/jquery-1.11.1.min.js')
    // Twitter Bootstrap
    script(src='/js/bootstrap.min.js')
    // Single Page Nav
    script(src='/js/jquery.singlePageNav.min.js')
    // jquery.fancybox.pack
    script(src='/js/jquery.fancybox.pack.js')
    // Google Map API
    script(src='https://maps.google.com/maps/api/js?sensor=false')
    // Owl Carousel
    script(src='/js/owl.carousel.min.js')
    // jquery easing
    script(src='/js/jquery.easing.min.js')
    // Fullscreen slider
    script(src='/js/jquery.slitslider.js')
    script(src='/js/jquery.ba-cond.min.js')
    // onscroll animation
    script(src='/js/wow.min.js')
    // Custom Functions
    script(src='/js/main.js')
